body{
    background: linear-gradient(90deg, rgba(166,165,151,1) 0%, rgba(200,199,170,1) 5%, 
    rgba(184,184,184,1) 33%, rgba(156,163,164,1) 100%);
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}
h1{
    text-align: center;
}
.container{
    
        display: grid;
        grid-template-columns: repeat(6, 195px);
        grid-template-rows: repeat(5, 136px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    
}
.pokemon_container1 { grid-area: 2 / 1 / 6 / 4; }
.your_pokemon { grid-area: 1 / 4 / 6 / 7; }
.search { grid-area: 1 / 1 / 2 / 4;}



.name{
    text-align: center;
}    



.pokemon{
    display: grid;
    grid-template-rows: 1.2fr 0.8fr;
    justify-content: center;
    align-content: center;
    transition: 0.3s;
    
    
}

.pokemon:hover{
    
    
    cursor: pointer;
}



.pokemon_container1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow: auto;
}
.img_container1{
    display: inline;
}

.search input[type=text] {
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: 12px;
    border: none;
    font-size: 17px;
    width: 300px;
  }





